<h1>既存の映画を編集</h1>

<%= form_with model: [ :admin, @movie] do |form| %>
    <div>
        <%= form.label :name, "タイトル" %><%= form.text_field :name %><br>
        <%= form.label :year, "公開年" %><%= form.text_field :year %><br>
        <%= form.label :description, "概要" %><%= form.text_area :description %><br>
        <%= form.label :image_url, "画像URL" %><%= form.text_field :image_url %><br>
        <%= form.check_box :is_showing %><%= form.label :is_showing, "上映中" %><br>
    </div>
    <div>
        <%= form.submit %>
    </div>
    <div>
        <%= button_to "削除", admin_movie_path(@movie), method: :delete, data: { confirm: "本当に削除しますか？" }%>
    </div>
<% end %>